body {
    text-align: center;
    background-color: rgba(109, 167, 185, 0.281);
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgba(15, 15, 15, 0.692);
}

button {
    margin-bottom: 15px;
    border-radius: 5px;
}

.level-selector {
    font-family: 'Segoe UI', sans-serif;
    width: 185px;
    height: 28px;
}

button:hover {
    border: 2px solid dodgerblue;
    cursor: pointer;
}

.board-container {
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: aliceblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}

table {
    margin-top: 50px;
    display: inline-block;
    table-layout: fixed;
}

.cell {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    cursor: pointer;
}

.flagged.hidden {
    background-image: url('../img/stop.jpg');
    background-repeat: round;
}

.mine {
    background-color: rgb(126, 37, 37);
}

.cell.hidden {
    background-color: rebeccapurple;
    color: transparent;
}

.hidden:hover {
    background-color: rgba(102, 51, 153, 0.678);
}

.counter {
    height: 30px;
    width: 60px;
    margin-bottom: 3px;
    background-color: dodgerblue;
    display: inline-block;
    color: rgb(231 226 226 / 88%);
    font-family: Roboto, sans-serif;
    font-weight: 900;
    border-radius: 5px;
}

footer {
    margin-top: 25px;
}